/* .profileInfo {
    width: 900px;
    margin: 0 auto;
}
.wrapper {
    margin: 0 auto;
    background-color: inherit;
    padding: 5px 30px;
}
.photos_list {
    height: 200px;
    width: 900px;
    background-color: salmon;
    overflow: scroll;
} */